.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc; /* optional outer border */
  border-radius: 20px;
  padding: 4px 8px;
  background: #fff;
}

.search-container input {
  flex: 1;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.search-btn {
  color: #555;
  background: transparent;
}
.search-btn:hover {
  color: #555;
  background: transparent;
}
